{% extends 'layout.html' %}
{% block title %}Tambah Data Mata Kuliah{% endblock %}

{% block content %}

<div class="p-5">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">Tambah Data Mata Kuliah</h1>
    </div>
    <form class="user" action="/matkul/store" method="post">
      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <input type="text" class="form-control form-control-user" placeholder="Kode" name="kode">
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-user" placeholder="Nama Mata Kuliah" name="nama">
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-user" placeholder="Progam Studi" name="prodi">
      </div>
      
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-user btn-sm">
              Simpan
        </button>

      </div>
    </form>
    <hr>
  </div>

{% endblock %}
