{% extends "layout.html" %}
{% block title %}Daftar Makul{% endblock %}

{% block content %}

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Daftar Matkul KRS</h1>

  <!-- DataTales Example -->
  <form action="/krs/store" method="post">
  <div class="card shadow mb-4">    
    <div class="card-header py-3">
      <button type="submit" class="btn btn-sm btn-primary float-right"> <i class="fa fa-check"></i> Simpan</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Kode</th>
              <th>Nama</th>
              <th>Prodi</th>
              <th><i class="fa fa-cogs"></i></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th>Kode</th>
                <th>Nama</th>
                <th>Prodi</th>
                <th><i class="fa fa-cogs"></i></th>
            </tr>
          </tfoot>
          <tbody>
              {% for matkul in data %}
              <tr>
                <td>{{ matkul[1] }}</td>
                <td>{{ matkul[2] }}</td>
                <td>{{ matkul[3] }}</td>
                <td>
                 <input type="checkbox" name="matkul[]" value="{{ matkul[0] }}">
                </td>
              </tr>

              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
{% endblock %}