{% extends "layout.html" %}
{% block title %}Mahasiswa{% endblock %}

{% block content %}

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Master Data Mahasiswa</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">    
    <div class="card-header py-3">
      <a href="/mahasiswa/create" class="btn btn-sm btn-primary float-right"> <i class="fa fa-plus"></i> Tambah Data</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nama</th>
              <th>NIM</th>
              <th>Angkatan</th>
              <th><i class="fa fa-cogs"></i></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
                <th>Nama</th>
                <th>NIM</th>
                <th>Angkatan</th>
                <th><i class="fa fa-cogs"></i></th>
            </tr>
          </tfoot>
          <tbody>
            
            {% for mhs in data %}
            <tr>
                
                <td>{{ mhs[1] }}</td>
                <td>{{ mhs[2] }}</td>
                <td>{{ mhs[3] }}</td>
                <td>
                    <a href="/mahasiswa/edit/{{ mhs[0] }}" class="btn btn-sm btn-info"> <i class="fa fa-edit"></i></a>
                    <a href="/mahasiswa/hapus/{{ mhs[0] }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              
              
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}