<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming Website</title>
    <link rel="stylesheet" href="static/css/all.min.css">
    <link rel="stylesheet" href="static/css/stylecontact.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <i class="fas fa-gamepad"></i>
                <p>The Game Zone</p>
            </div>
            <ul class="navbar">
                <li><a href="#" class="active">HOME</a></li>
                <li><a href="#">GAMES</a></li>
                <li><a href="contact">CONTACT US</a></li>
                <li><a href="#">RIWAYAT TOP UP</a></li>
                <li><a href="login">LOGOUT</a></li>
            </ul>
        </header>
        <div class="section-3">
                <h1>ABOUT US</h1>
                <div class="section-3-wrapper">
                    <div class="feedback"></div>
                    <div class="feedback-desc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus error, 
                        tempora laborum, voluptas magnam animi quo repudiandae asperiores 
                        totam dolore commodi perspiciatis sapiente accusamus alias non vitae incidunt nisi!</p>
                        <br>
                        <i class="far fa-grin-squint-tears"></i><br>
                        <h4>FER SETYAWAN</h4>
                    </div>
                    <!-- =========================== -->
                    <div class="feedback f-img-2"></div>
                    <div class="feedback-desc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus error, 
                        tempora laborum, voluptas magnam animi quo repudiandae asperiores 
                        totam dolore commodi perspiciatis sapiente accusamus alias non vitae incidunt nisi!</p>
                        <br>
                        <i class="far fa-grin-beam-sweat"></i><br>
                        <h4>ZAEDAR GHAZALBA</h4>
                        
                    </div>
                </div>
                <div class="section-3-wrapper">
                        <div class="feedback"></div>
                        <div class="feedback-desc">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus error, 
                            tempora laborum, voluptas magnam animi quo repudiandae asperiores 
                            totam dolore commodi perspiciatis sapiente accusamus alias non vitae incidunt nisi!</p>
                            <br>
                            <i class="far fa-grin-squint-tears"></i><br>
                            <h4>KHAZIN MUBAROK</h4>
                        </div>
                        <!-- =========================== -->
                    </div>
            </div>
        
    </div>


</body>
<footer class="footer-bottom">
        <p>Copyright &copy; All Right Reserved | Designed <span>By KELOMPOK TOP UP</span> 2021</p>
</footer>
</html>