<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming Website</title>
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            
            <div class="logo">
                <i class="fas fa-gamepad"></i>
                <p>The Game Zone</p>
            </div>
            
            <ul class="navbar">
                {% if session['level'] == 'admin' %}
                <li><a href="#" class="active">HOME</a></li>
                <li><a href="#">GAMES</a></li>
                <li><a href="contact">CONTACT US</a></li>
                <li><a href="#">RIWAYAT TOP UP</a></li>
                <li><a href="login_data">LOGOUT</a></li>
                {% endif%}
            </ul>
        </header>

        <div class="content-wrapper">
            <form action="/login" method="post">
            <div class="content-desc">
                <h1>GEMING STORE</h1>
                <p>Top Up <span>GEMING</span>Merupakan website top game terpercaya 
                    dan termurah. rseseseseses
                    {% if session['level'] == 'admin' %}
                    <h1>admin</h1>
                    {% endif%}
                    {% if session['level'] == 'user' %}
                    <h1>user</h1>
                    {% endif%}
                </p>
                    
                <button id="btn2" onclick=" return confirm ('ANDA YAKIN MAU TOP UP ,INGAT MAKAN BRODI')" type="submit">Top Up Sekarang</button>
            </div>
            </form>
            <div class="banner">
                <img src = "static/images/banner.png">
            </div>
        </div>
    </div>

    <div class="logo-section">
        <i class="fas fa-gamepad"></i>
        <h1>TOP UP GAME</h1>
    </div>
    
    <section class="section-1">
        <div class="section-1-wrapper">  
            <h1></h1>
            <br>
            <div class="section-1-img">
                <a href="#"><div class="img img-1"></div></a>
                <a href="#"><div class="img img-2"></div></a>
                <a href="#"><div class="img img-3"></div></a>
                <a href="#"><div class="img img-4"></div></a>
                <a href="#"><div class="img img-5"></div></a>
                <a href="#"><div class="img img-6"></div></a>
                <a href="#"><div class="img img-2"></div></a>
                <a href="#"><div class="img img-3"></div></a>
            </div>
            <div class="game-wrapper left">
                <a href="#"><div class="gw gw-6"></div></a>
                <a href="#"><div class="gw gw-7"></div></a>
                <a href="#"><div class="gw gw-8"></div></a>
                <a href="#"><div class="gw gw-9"></div></a>
                <a href="#"><div class="gw gw-10"></div></a>
            </div>
        </div>
        

    </section>

    <div class="section-3">
        <h1>What People say About us</h1>
        <div class="section-3-wrapper">
            <div class="feedback"></div>
            <div class="feedback-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus error, 
                tempora laborum, voluptas magnam animi quo repudiandae asperiores 
                totam dolore commodi perspiciatis sapiente accusamus alias non vitae incidunt nisi!</p>
                <br>
                <i class="far fa-grin-squint-tears"></i><br>
                <h4>OSCAR</h4>
            </div>
            <!-- =========================== -->
            <div class="feedback f-img-2"></div>
            <div class="feedback-desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus error, 
                tempora laborum, voluptas magnam animi quo repudiandae asperiores 
                totam dolore commodi perspiciatis sapiente accusamus alias non vitae incidunt nisi!</p>
                <br>
                <i class="far fa-grin-beam-sweat"></i><br>
                <h4>MARIO</h4>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-body">
            <div class="logo footer-logo">
                <i class="fas fa-gamepad"></i>
                <h1>The Game Zone</h1>
            </div>
            <ul>
                <h3>Short Links</h3>
                <li><a href="#">AOV</a></li>
                <li><a href="#">Mobile Legends</a></li>
                <li><a href="#">Fifa Game</a></li>
                <li><a href="#">League of Legends</a></li>
                <li><a href="#">ONE PUCH MAN</a></li>
                <li><a href="#">FREE FIRE MAX</a></li>
            </ul>

            <ul>
                <h3>Short Links</h3>
                <li><a href="#">Call of Duty</a></li>
                <li><a href="#">Genshin IMPACT</a></li>
                <li><a href="#">Ragnarok</a></li>
                <li><a href="#">PUBG</a></li>
                <li><a href="#">MINICRAFT</a></li>
                <li><a href="#">FREE FIRE</a></li>
                <li><a href="#">ASPHALT 8</a></li>
            </ul>
            <ul>
                <h3>Get In Touch</h3>
                <li><a href="#"><i class="fab fa-facebook"></i>Facebook</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i>Linkedin</a></li>
            </ul>
        </div>
    </footer>
    <div class="footer-bottom">
        <p>Copyright &copy; All Right Reserved | Designed <span>By Almarex</span> 2021</p>
    </div>
</body>
</html>