<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <style>
        .login{
            background: url('/static/images/login-new.jpeg')
        }
    </style>
    <title>Register</title>
</head>
<body class="h-screen font-sans login bg-cover">
<div class="container mx-auto h-full flex flex-1 justify-center items-center">
    <div class="w-full max-w-lg">
        <div class="leading-loose">
                <p class="text-gray-800 font-medium">Register</p>
                <form method="post"> 
                    <div class="mb-3">
                        <label class="block text-sm text-gray-00" for="cus_name">Name</label>
                        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="cus_name" name="namane" type="text" required="" placeholder="Your Name" aria-label="Name">
                    </div>
                    <div class="mb-3">
                        <label class="block text-sm text-gray-00" for="cus_name">Email</label>
                        <input class="w-full px-5  py-4 text-gray-700 bg-gray-200 rounded" id="cus_email" name="emaile" type="email" required="" placeholder="Your Email" aria-label="Email">
                    </div>
                    <div class="mb-3">
                        <label class="block text-sm text-gray-600" for="cus_email">Password</label>
                        <input class="w-full px-5  py-4 text-gray-700 bg-gray-200 rounded" id="cus_email" name="Passworde" type="password" required="" placeholder="Your password" aria-label="Email">
                    </div>
                    <div class="mb-3">
                        <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">Register</button>
                </form>
                <a class="inline-block right-0 align-baseline font-bold text-sm text-500 hover:text-blue-800" href="login">
                    Already have an account ?
                </a>
        </div>
</div>

</body>
</html>